langchain
python-dotenv
langchain_community
pypdf
##needed for web-scraping

langchain-text-splitters
lxml

python-dotenv #to  use dotenv
langchain-openai
chromadb ##chroma vector db
sentence_transformers
langchain_huggingface
fais-cpu 
langchain_chroma ## for working with chormaDB
streamlit
langchain_groq
dotenv
langchain_core
langserve



